# Pension Dataset Analysis (Nest Pension Ltd)

This notebook loads the synthetic dataset created at:

`/mnt/data/pension_project/pension_dataset.csv`

Run the cells to reproduce the analysis.

In [2]:
import pandas as pd
import numpy as np
import os
from datetime import timedelta
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
DATA = 'pension_dataset.csv'
df = pd.read_csv(DATA, parse_dates=['enrolment_date','retirement_date','opt_out_date'], dayfirst=False)
df.head()

,member_id,employer_ref,policy_number,enrolment_date,total_contribution_cumulative_eur,retirement_date,employee_contribution_monthly_eur,employer_contribution_monthly_eur,age,gender,opt_out_date,company_name,annual_salary_estimate_eur
0,MEM0000001,EMP000016,2338687,2014-04-08,45325.06,2026-06-15,177.77,170.88,64,Male,NaT,Nest Pension Ltd,42450
1,MEM0000002,EMP000018,5418934,2015-08-09,16415.45,2061-05-05,65.63,78.37,33,Male,NaT,Nest Pension Ltd,32926
2,MEM0000003,EMP000042,1971823,2010-05-01,36255.11,2047-07-16,111.41,92.27,39,Male,NaT,Nest Pension Ltd,58688
3,MEM0000004,EMP000031,8606962,2018-12-30,16124.05,2056-07-02,103.41,117.47,29,Male,NaT,Nest Pension Ltd,46511
4,MEM0000005,EMP000025,7366205,2020-03-16,13920.04,2051-02-28,114.99,125.01,42,Female,NaT,Nest Pension Ltd,38629

In [3]:
# Example: enrolments by year
import matplotlib.pyplot as plt
enrol = df.copy()
enrol['enrol_year'] = pd.to_datetime(enrol['enrolment_date']).dt.year
enrol_year = enrol.groupby('enrol_year')['member_id'].count().reset_index()
print(enrol_year)
fig = px.bar(enrol_year, x='enrol_year', y='member_id', title='Enrolments by Year')
fig.show()

    enrol_year  member_id
0         2010        642
1         2011        684
2         2012        653
3         2013        650
4         2014        609
5         2015        695
6         2016        715
7         2017        689
8         2018        647
9         2019        676
10        2020        691
11        2021        686
12        2022        655
13        2023        636
14        2024        672

In [3]:
os.listdir('.')

['ChatGPT Image Oct 15, 2025, 02_08_03 PM.png',
 'ChatGPT Image Oct 15, 2025, 02_20_40 PM.png',
 'pension_analysis.ipynb',
 'pension_dataset.csv',
 'pension_summary.xlsx']

In [5]:
df['enrolment_year'] = df['enrolment_date'].dt.year
df['enrolment_month'] = df['enrolment_date'].dt.to_period('M').astype(str)
df['enrolment_day'] = df['enrolment_date'].dt.date
df['opted_out'] = df['opt_out_date'].notna() & (df['opt_out_date'].astype(str) != "")
df['total_monthly_contrib'] = df['employee_contribution_monthly_eur'] + df['employer_contribution_monthly_eur']

print("Rows loaded:", len(df))
df.head()

Rows loaded: 10000

,member_id,employer_ref,policy_number,enrolment_date,total_contribution_cumulative_eur,retirement_date,employee_contribution_monthly_eur,employer_contribution_monthly_eur,age,gender,opt_out_date,company_name,annual_salary_estimate_eur,enrolment_year,enrolment_month,enrolment_day,opted_out,total_monthly_contrib
0,MEM0000001,EMP000016,2338687,2014-04-08,45325.06,2026-06-15,177.77,170.88,64,Male,NaT,Nest Pension Ltd,42450,2014,2014-04,2014-04-08,False,348.65
1,MEM0000002,EMP000018,5418934,2015-08-09,16415.45,2061-05-05,65.63,78.37,33,Male,NaT,Nest Pension Ltd,32926,2015,2015-08,2015-08-09,False,144.00
2,MEM0000003,EMP000042,1971823,2010-05-01,36255.11,2047-07-16,111.41,92.27,39,Male,NaT,Nest Pension Ltd,58688,2010,2010-05,2010-05-01,False,203.68
3,MEM0000004,EMP000031,8606962,2018-12-30,16124.05,2056-07-02,103.41,117.47,29,Male,NaT,Nest Pension Ltd,46511,2018,2018-12,2018-12-30,False,220.88
4,MEM0000005,EMP000025,7366205,2020-03-16,13920.04,2051-02-28,114.99,125.01,42,Female,NaT,Nest Pension Ltd,38629,2020,2020-03,2020-03-16,False,240.00

In [8]:
enrol_monthly = df.groupby('enrolment_month')['member_id'].nunique().reset_index().rename(columns={'member_id':'new_members'})
enrol_monthly['month_dt'] = pd.to_datetime(enrol_monthly['enrolment_month'] + "-01")
enrol_monthly.sort_values('month_dt', inplace=True)
enrol_monthly.to_csv("enrolments_monthly.csv", index=False)
enrol_monthly.tail(12)

    enrolment_month  new_members   month_dt
168         2024-01           55 2024-01-01
169         2024-02           45 2024-02-01
170         2024-03           63 2024-03-01
171         2024-04           55 2024-04-01
172         2024-05           66 2024-05-01
173         2024-06           54 2024-06-01
174         2024-07           58 2024-07-01
175         2024-08           58 2024-08-01
176         2024-09           40 2024-09-01
177         2024-10           68 2024-10-01
178         2024-11           58 2024-11-01
179         2024-12           52 2024-12-01

In [9]:
enrol_yearly = df.groupby('enrolment_year')['member_id'].nunique().reset_index().rename(columns={'member_id':'new_members'})
enrol_yearly.to_csv("enrolments_yearly.csv", index=False)
enrol_yearly

    enrolment_year  new_members
0             2010          642
1             2011          684
2             2012          653
3             2013          650
4             2014          609
5             2015          695
6             2016          715
7             2017          689
8             2018          647
9             2019          676
10            2020          691
11            2021          686
12            2022          655
13            2023          636
14            2024          672

In [11]:
# Enrolments last month
latest_month = enrol_monthly['enrolment_month'].max()
last_month_count = enrol_monthly[enrol_monthly['enrolment_month']==latest_month]['new_members'].iloc[0]
print("Latest enrolment month:", latest_month, "New members:", last_month_count)

Latest enrolment month: 2024-12 New members: 52

In [12]:
contrib_by_employer = df.groupby('employer_ref')['total_contribution_cumulative_eur'].sum().reset_index().sort_values('total_contribution_cumulative_eur', ascending=False)
contrib_by_employer.to_csv("contrib_by_employer.csv", index=False)
contrib_by_employer.head(20)

   employer_ref  total_contribution_cumulative_eur
38    EMP000039                         5261138.49
36    EMP000037                         5113324.09
37    EMP000038                         4939686.36
22    EMP000023                         4927176.64
44    EMP000045                         4774122.73
35    EMP000036                         4741502.34
49    EMP000050                         4733191.33
27    EMP000028                         4731847.39
32    EMP000033                         4699149.72
28    EMP000029                         4663263.46
16    EMP000017                         4661020.27
8     EMP000009                         4631144.13
14    EMP000015                         4528990.45
1     EMP000002                         4513784.24
15    EMP000016                         4494551.70
26    EMP000027                         4476196.54
45    EMP000046                         4422807.22
31    EMP000032                         4403791.47
34    EMP000035                         4378362.83
29    EMP000030                         4357242.06